<style>
  @media only screen and (min-width : 1286px)
  {
    #main-container{
      width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }
    #product{
      width: 450px;
    }
    #images{
    width: 370px;
    height: 450px;
    object-fit: cover;
  }
  }

    @media only screen and (min-width: 1000px) and (max-width: 1286px)
  {
     #main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }
    #product{
      width: 420px;
    }
    #images{
    width: 330px;
    height: 450px;
    object-fit: cover;
  }
  }

  @media only screen and (max-width: 1000px) and (min-width: 767px)
  {
     #main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }
    #product{
      width: 400px;
    }
    #images{
    width: 330px;
    height: 400px;
    object-fit: cover;
  }
  }

  @media only screen and (max-width: 767px){
     #main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }
      #product{
      width: 470px;
      margin: 0 auto;
    }
    #images{
    width: 100%;
    height: 370px;
    object-fit: cover;
  }
  }
</style>
<h2 style="text-align: center;">Our Products</h2>
<div id="main-container">
{{#each products}}
  <div id="product" style="margin: 0;" class="container">
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/4 md:w-1/2 p-2 w-full">
        <a class="block relative h-48 rounded overflow-hidden" href="{{this.link}}">
          <img id="images" alt="ecommerce" class="object-cover object-center w-full h-full block" src="{{this.image}}">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{this.category}}</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">{{this.name}}</h2>
          <p class="mt-1">{{this.price}}</p>
        </div>
      </div>
    </div>
  </div>
{{/each}}
</div>